{% extends "admin_layout.html.twig" %}

{% block page_title %}
    Mes Eclairages
{% endblock %}

{% block breabcrumb_page %}
    Mes Eclairages
{% endblock %}

{% block breabcrumb_item %}
    <li class="breadcrumb-item"><a href="{{ path('admin_dashboard') }}">Dashboard</a></li>
    <li class="breadcrumb-item"><a href="#">Profil</a></li>
    <li class="breadcrumb-item active">Mes éclairages</li>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-12 mx-auto">
                <div class="card">
                    <div class="card-body">
                        <h4 class="card-title">Mes Eclairages</h4>
                        <h6 class="card-subtitle">Mes éclairages</h6>
                        {% for message in app.flashes('notice') %}
                            <div class="alert alert-success">
                                {{ message }}
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span
                                            aria-hidden="true">×</span></button>
                            </div>
                        {% endfor %}
                        <div class="table-responsive m-t-40">
                            <table id="topicsTable" class="table table-bordered table-striped">
                                <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nom du Sujet</th>
                                    <th>Accroche</th>
                                    <th>Date</th>
                                    <th>Status</th>
                                    <th>Actions</th>
                                </tr>
                                </thead>
                                <tbody>
                                {% for answer in answers %}
                                    <tr>
                                        <td>{{ answer.id }}</td>
                                        <td>{{ answer.topic.name }}</td>
                                        <td>{{ answer.summary | striptags }}</td>
                                        <td>{{ answer.writingDate | date('d/m/Y') }}</td>
                                        <td>{{ answer.topic.status }}</td>
                                        <td>
                                            <a href="{{ path('admin_topic', { 'id' : answer.topic.id, 'alias' : answer.topic.alias }) }}" data-toggle="tooltip" title="Consulter" class="btn btn-primary"><i class="fas fa-eye"></i></a>
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block final_stylesheets %}
    {{ encore_entry_link_tags('datatable') }}
{% endblock %}

{% block final_javascripts %}
    {{ encore_entry_script_tags('datatable') }}
{% endblock %}