<header class="header-area header-area3">
    <div class="header-top bg-1">
        <div class="container">
            <div class="row">
                <div class="col-md-6 col-12">
                    <div class="header-top-left">
                        <p>RSV : Rétablir la vérité de la Parole de Dieu</p>
                    </div>
                </div>
                <div class="col-md-6 col-12">
                    <div class="header-top-right text-right">
                        <ul>
                            {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                                <li><a href="#">Bonjour {{ app.user.firstname }}</a></li>
                                {% if is_granted('ROLE_ADMIN') %}
                                    <li><a href="{{ path('admin_dashboard') }}"><i class="fa fa-sitemap" aria-hidden="true"></i> Administration</a></li>
                                {% elseif is_granted('ROLE_MINISTRY') %}
                                    <li><a href="{{ path('admin_dashboard') }}"><i class="fa fa-users" aria-hidden="true"></i> Espace Ministère</a></li>
                                {% else %}
                                    <li><a href="#"><i class="fa fa-user-circle" aria-hidden="true"></i> Espace Abonnés</a></li>
                                {% endif %}
                                <li><a href="{{ path('security_logout') }}"><i class="fa fa-sign-out" aria-hidden="true"></i> Déconnexion</a></li>
                            {% else %}
                                <li><a href="{{ path('security_login') }}"><i class="fa fa-sign-in" aria-hidden="true"></i> Connexion</a></li>
                                <li><a href="{{ path('user_register') }}"><i class="fa fa-user-plus" aria-hidden="true"></i> Inscription</a></li>
                            {% endif %}
                            <li><a href="#"><i class="fa fa-facebook-square" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                            <li><a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-middle-area">
        <div class="container">
            <div class="row">
                <div class="col-md-5 col-sm-12 d-none d-lg-block">
                    <div class="mainmenu">
                        <ul id="navigation">
                            <li class="active"><a href="{{ path('rsv_home') }}">Accueil</a></li>
                            <li><a href="javascript:void(0)">Poser une Question</a></li>
                            {#<li><a href="javascript:void(0)">Les sujets <i class="fa fa-angle-down"></i></a>
                                <ul>
                                    <li><a href="javascript:void(0)">Blog Page</a></li>
                                    <li><a href="javascript:void(0)">Blog Left</a></li>
                                    <li><a href="javascript:void(0)">Blog Right</a></li>
                                </ul>
                            </li>#}
                            <li><a href="javascript:void(0)">A Propos</a></li>
                            <li><a href="javascript:void(0)">Contact</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-lg-2 col-md-3 col-12">
                    <div class="logo">
                        <a href="{{ path('rsv_home') }}">
                            <img src="{{ asset('build/images/app/logo-rsv.png') }}" alt="Retablir sa Vérité">
                        </a>
                    </div>
                </div>
                <div class="col-md-8 col-lg-5 col-sm-9 col-9">
                    <div class="form-style search-form">
                        <form action="#">
                            <input type="text" placeholder="Rechercher un sujet...">
                            <button><i class="fa fa-search"></i></button>
                        </form>
                    </div>
                </div>
                <div class="d-block d-lg-none clear col-md-1 col-sm-3 col-3">
                    <div class="responsive-menu-wrap floatright"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="header-bottom-area mb-40  d-none d-sm-block">
        <div class="container">
            <div class="row">
                <div class="col-12 d-none d-md-block">
                    <div class="header-banner">
                        <img src="{{ asset('build/images/banner3.png') }}" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</header>
