<div class="instagram-area mb-80">
    <div class="instagram-wrap">
        <a href="#"><img src="{{ asset('build/images/app/instragram/1.jpg') }}" alt=""></a>
    </div>
    <div class="instagram-wrap">
        <a href="#"><img src="{{ asset('build/images/app/instragram/2.jpg') }}" alt=""></a>
    </div>
    <div class="instagram-wrap">
        <a href="#"><img src="{{ asset('build/images/app/instragram/3.jpg') }}" alt=""></a>
    </div>
    <div class="instagram-wrap">
        <a href="#"><img src="{{ asset('build/images/app/instragram/4.jpg') }}" alt=""></a>
    </div>
    <div class="instagram-wrap">
        <a href="#"><img src="{{ asset('build/images/app/instragram/5.jpg') }}" alt=""></a>
    </div>
    <div class="instagram-wrap">
        <a href="#"><img src="{{ asset('build/images/app/instragram/2.jpg') }}" alt=""></a>
    </div>
    <div class="instagram-content">
        <a href="#">Follow Instragram</a>
    </div>
</div>
