{% extends "front_layout.html.twig" %}

{% block page_title %}
    Accueil
{% endblock %}

{% block content %}

    {% set topic1 = topics.0 %}
    {% set topic2 = topics.1 %}

    <div class="featured-post-area pb-80">
        <div class="container">
            <div class="row">
                <div class="col-lg-7 col-md-6">
                    <div class="featured-post-wrap">
                        <div class="featured-post-content">
                            <h2><a href="#">{{ topic1.name }}</a>
                                <br><small>{{ topic1.user.firstname ~ ' ' ~ topic1.user.lastname }}</small></h2>
                            <p>{{ topic1.summary | raw }}</p>
                            <span>{{ topic1.publishDate | date('d/m/Y') }}</span>
                        </div>
                        <div class="featured-post-img">
                            <img src="{{ asset('uploads/250/' ~ topic1.image) }}" alt="{{ topic1.name }}">
                        </div>
                    </div>
                </div>
                <div class="col-lg-5 col-md-6">
                    <div class="featured-post-wrap2">
                        <div class="featured-post-img">
                            <img src="{{ asset('uploads/470/' ~ topic2.image) }}" alt="{{ topic2.name }}">
                        </div>
                        <div class="featured-post-content">
                            <h2><a href="#">{{ topic2.name }}</a>
                                <br><small>{{ topic2.user.firstname ~ ' ' ~ topic2.user.lastname }}</small></h2>
                            <p>{{ topic1.summary | raw }}</p>
                            <span>{{ topic2.publishDate | date('d/m/Y') }}</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- .popular-post-area start -->
    <div class="popular-post-area">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title">
                        <h2>Trending Post</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="tending-active owl-carousel">
                    <div class="col-12">
                        <div class="post-wrap">
                            <div class="post-img">
                                <img src="{{ asset('build/images/app/popular/1.jpg') }}" alt="">
                            </div>
                            <div class="post-content">
                                <h3><a href="blog-details.html">British military courts use aginst protesters busines
                                        cultural...</a></h3>
                                <p>Courtney Singleton</p>
                                <span>15 December, 17</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="post-wrap">
                            <div class="post-img">
                                <img src="{{ asset('build/images/app/popular/2.jpg') }}" alt="">
                            </div>
                            <div class="post-content">
                                <h3><a href="blog-details.html">Robots helped inspire and deep learning might
                                        become...</a></h3>
                                <p>Hattie Johnston</p>
                                <span>20 November, 17</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="post-wrap">
                            <div class="post-img">
                                <img src="{{ asset('build/images/app/popular/3.jpg') }}" alt="">
                            </div>
                            <div class="post-content">
                                <h3><a href="blog-details.html">South korea’s moon jae in sworn vowing to address
                                        north...</a></h3>
                                <p>Rudolph Marshall</p>
                                <span>15 December, 17</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="post-wrap">
                            <div class="post-img">
                                <img src="{{ asset('build/images/app/popular/1.jpg') }}" alt="">
                            </div>
                            <div class="post-content">
                                <h3><a href="blog-details.html">British military courts use aginst protesters busines
                                        cultural...</a></h3>
                                <p>Courtney Singleton</p>
                                <span>15 December, 17</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .popular-post-area end -->
    <!-- .popular-post-area start -->
    <div class="popular-post-area recent-post">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="section-title text-center">
                        <h2>Recent Post</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-12">
                    <div class="sidebar-popular-post">
                        <div class="row">
                            <div class="col-lg-12 col-md-6 col-12">
                                <div class="widget widget_categories ">
                                    <h4 class="widget-title">Category Post</h4>
                                    <ul>
                                        <li><a href="#">Entertainment</a></li>
                                        <li><a href="#">Technology</a></li>
                                        <li><a href="#">Business</a></li>
                                        <li><a href="#">Business</a></li>
                                        <li><a href="#">Life Style</a></li>
                                        <li><a href="#">Musuc & Band</a></li>
                                        <li><a href="#">Travels</a></li>
                                        <li><a href="#">Restaurent</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-12 col-md-6 col-12">
                                <div class="booking-form widget">
                                    <form action="#">
                                        <h2>Get Breaking News delivered to your inbox.</h2>
                                        <input type="text" placeholder="Name here...">
                                        <input type="text" placeholder="Phone here...">
                                        <input type="email" placeholder="Emaile here...">
                                        <button>Subscribe now</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8 col-12">
                    <div class="row">
                        <div class="col-md-6 col-12">
                            <div class="post-wrap">
                                <div class="post-img">
                                    <img src="{{ asset('build/images/app/popular/1.jpg') }}" alt="">
                                </div>
                                <div class="post-content">
                                    <h3><a href="blog-details.html">British military courts use aginst protesters
                                            busines cultural...</a></h3>
                                    <p>Courtney Singleton</p>
                                    <span>15 December, 17</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="post-wrap">
                                <div class="post-img">
                                    <img src="{{ asset('build/images/app/popular/2.jpg') }}" alt="">
                                </div>
                                <div class="post-content">
                                    <h3><a href="blog-details.html">Robots helped inspire and deep learning might
                                            become...</a></h3>
                                    <p>Hattie Johnston</p>
                                    <span>20 November, 17</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="post-wrap">
                                <div class="post-img">
                                    <img src="{{ asset('build/images/app/popular/3.jpg') }}" alt="">
                                </div>
                                <div class="post-content">
                                    <h3><a href="blog-details.html">South korea’s moon jae in sworn vowing to address
                                            north...</a></h3>
                                    <p>Rudolph Marshall</p>
                                    <span>15 December, 17</span>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-6 col-12">
                            <div class="post-wrap">
                                <div class="post-img">
                                    <img src="{{ asset('build/images/app/popular/4.jpg') }}" alt="">
                                </div>
                                <div class="post-content">
                                    <h3><a href="blog-details.html">Nothing better than drinking and cappuccino while
                                            working...</a></h3>
                                    <p>Aubrey Perry</p>
                                    <span>20 November, 17</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-12">
                    <div class="pagination-wrapper text-center">
                        <ul class="page-numbers">
                            <li><a class="prev page-numbers" href="#"><i class="fa fa-arrow-left"></i></a></li>
                            <li><span class="page-numbers current">1</span></li>
                            <li><a class="page-numbers" href="#">2</a></li>
                            <li><a class="page-numbers" href="#">3</a></li>
                            <li><a class="next page-numbers" href="#"><i class="fa fa-arrow-right"></i></a></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- .popular-post-area end -->
{% endblock %}



